<p>about works!</p>
<h1>App Dashboard</h1>
  
  <!-- Demo Trigger Buttons -->
  <div class="d-flex gap-2 my-3">
    <button class="btn btn-danger" (click)="triggerError()">Test Error</button>
    <button class="btn btn-warning" (click)="triggerWarning()">Test Warning</button>
    <button class="btn btn-info text-white" (click)="triggerInfo()">Test Info</button>
    <button class="btn btn-success text-white" (click)="triggersuccess()">Test Success</button>
  </div>
<router-outlet></router-outlet>
